<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://www.dropbox.com/s/koqkbl060lrqko8</string>
		<key>displayImageURL</key>
		<string>https://via.placeholder.com/57.png

https://placeholder.com/57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://placeholder.com/512.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.tatasky.tataskybroadband</key>
		<string>tatasky_dev</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Developer</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>ZAB53RCP4N</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
